.addHoldings {
	margin-bottom: 20px;
}

.addHoldings .form-group {
	margin-right: 10px;
}

.addHoldings .form-group input[type=text] {
	width: auto;
}

.remove:hover {
	opacity: 0.8;
	cursor: pointer;
}

.row {
	margin-top: 20px;
}

.addNewForm {
	margin-top: 15px;
	margin-left: 10px;
}

.ml-md-auto {
	margin-right: 20px;
}

.card {
	margin-top: 20px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; border-radius: 3px; }
.autocomplete-suggestion { padding: 2px 5px; font-size: 1.0em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }
#searchfield { display: block; width: 100%; text-align: center; margin-bottom: 35px; }
